pyEDFlib>=0.1.33
numpy~=1.26.1
pandas~=2.2.2
tqdm~=4.66.1
PyYAML~=6.0.1
matplotlib~=3.8.1
scikit-learn~=1.5.1
yaml~=0.2.5
torchinfo~=1.8.0
sortedcontainers~=2.4.0
hyperopt>=0.2.5
ray[data,train,tune,serve]~=2.30.0
paramiko~=2.8.1
seaborn~=0.13.2
scipy~=1.13.1
torchmetrics~=1.4.0.post0